* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

body {
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  background-color: rgb(78, 213, 78);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 1400px;
  padding: 10px;
  margin: 60px;

}

/* #main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(250, 8, 8);
  
  

} */
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-control {
  width: 400px;
  border: none;
  height: 30px;
  border-radius: 5px;
}

#main {
  border: 2px solid rgb(185, 30, 30);
  border-radius: 5px;
  padding: 10px;
  width: 80vw;
}

li {
  background-color: #f4f4f4;
}

#header-title {
  color: rgb(255, 255, 255);
  
  
}

.list-group-item {
  margin: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.list-items{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#addForm{
  display: flex;
  padding-top: 10px;
  
}
.btn{
  margin-left: 30px;
  width: 100px;
}
.title{
  padding-top: 10px;
}
.btn-danger{
  width: 20px;
}